text-block {
  display: block;
  position: fixed;
  border: 2px solid black;
  background: white;
}

text-block b-head {
  padding: 3px;
  border-bottom: 2px solid black;
}

text-block textarea {
  border: transparent;
}

text-block:focus {
  outline: none;
}

text-block.focused {
    z-index: 10;
    box-shadow: black 3px 3px 5px 0px;
}