shell-block {
    padding-top: 30px;
    display: block;
    /*font-family: monospace !important;*/
}
shell-block > b-head {
    position: fixed;
    padding: 4px;
    color: white;
    background: black;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
}

shell-block > form {
    padding: 5px;
}
shell-block message-block {
    margin: 0 5px;
}


shell-block form  {
    clear: both;
    margin: 3px;
    display: flex;
}

shell-block form:before {
    content: attr(pathname) ' ' attr(prompt);
}

shell-block input {
    outline: transparent;
    border: none;
    margin-left: 5px;
    flex: 1;
}

shell-block:focus {
    outline: none;
}

shell-block input:focus {
    border-bottom: 2px solid #4d90fe;
}

shell-block menu-block {
    position: fixed;
}

shell-block menu-block:after {
    background-color: white;
}

/*shell-block:focus menu-block {
    background: url('data:image/svg+xml<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.000001 60.000001" height="100%" width="100%"><path fill="#fff" transform="matrix(.96906 0 0 .96883 .928 .942)" d="M300a30 30 0 0 0-6 .639V24H.607A30 30 0 0 0 0 30a30 30 0 0 0 .639 6H24v23.393A30 30 0 0 0 30 60a30 30 0 0 0 6-.639V36h23.393A30 30 0 0 0 60 30a30 30 0 0 0-.639-6H36V.607A30 30 0 0 0 30 0z" stroke="#add8e6" fill="#fff" stroke-width="1.916"/></svg>')
}*/

/*shell-block [errno="ECONNREFUSED"] b-body::after  {
    content: 'ChatScript must be running to talk to the computer.'
}*/

/*form::before {
    content: attr(path) ' ' attr(prompt);
}*/


