convo-block {
    padding-top: 30px;
    display: block;
    /*font-family: monospace !important;*/
}

convo-block > b-head {
    position: fixed;
    padding: 4px;
    color: white;
    background: black;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: xx-small;
}

convo-block > header button {
    width: 18px;
    height: 18px;
    background-image: linear-gradient(black, black, white, black, white, black, white, black, black);
}

convo-block > form {
    padding: 5px;
}

convo-block message-block {
    margin: 0 5px;
}

message-block > b-body {
    display: block;
    float: left;
    clear: both;
    margin: 5px;    
}

message-block > b-head {
    display: block;
    float: right;
    clear: both;
    margin: 5px;
}

message-block[headless="true"] b-head {
    display: none;
}


message-block img {
    width: 100%;
}

convo-block input {
    outline: transparent;
    border: none;
}
convo-block form  {
    clear: both;
    margin: 3px;
}

/*form::before {
    content: attr(path) ' ' attr(prompt);
}*/


