* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input {
  outline: transparent;
  border: none;
}
form::before {
  content: attr(prompt);
}


[dragging="true"] textarea {
  pointer-events: none;
}

/*
[dragging="true"] header {
  cursor: grabbing;
}*/

.messageBlock textarea {
  border: none;
}
.messageBlock textarea:focus {
  outline: none;
}

.messageBlock header {
  font-family: monospace;
}
.messageBlock button {
  display: none;
}

/* hide the fact that textareas are disabled while clicking and dragging */

textarea, textarea:disabled {
  color: black;
  background: inherit;
}