
input {
    margin: 20px 0px 45px 0px;
    border: 1px solid #9F9F9F; 
    border-radius: 3px;
    padding: 10px;
    background: white;
    width: 60vw;
}
input:focus {
    border: 1px solid #2FC3C7;
    box-shadow: 0 1px 2px 0 rgba(32,32,32,0.50);
}

form {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #65778f;
    width: 100%;
}

.messageBlock button {
    display: none;
}

div.textarea {
    white-space: pre-wrap;
}

body {
    background-color: #65778f;
}

.leftPanel {
    position: fixed;
    height: 100vh;
    width: 20%;
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='227' height='38' viewBox='0 0 227 38' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EShadow%3C/title%3E%3Cpath d='M227 0h-54L-22 43h214z' fill='%2359667D' fill-rule='evenodd' opacity='.25'/%3E%3C/svg%3E"), url(./gui/static/img/aubi_blink.gif);
    background-size: 275px, 125px;
    background-position: Calc(100% - 28px) 100%, 100% Calc(100% - 46px);
    background-repeat: no-repeat;
}
.convoBlock {
    margin: 0 20%;
}

.convoBlock > header {
    position: fixed;
    height: 58px;
    width: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='139' height='35' viewBox='0 0 139 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M32.789 31.306a1.173 1.173 0 0 1-.345-.83v-9.55a1.09 1.09 0 0 0-.04.227c-.52 6.433-5.99 11.472-12.448 11.472-.95 0-1.895-.107-2.808-.318a1.175 1.175 0 0 0-1.348.688l-1.839 4.354a1.17 1.17 0 0 0 .025.97c.146.303.417.529.741.62 1.692.47 3.45.71 5.23.71 5.78 0 11.011-2.535 14.597-6.575l-1.765-1.768z' fill='%239474CB'/%3E%3Cpath d='M1.768 18.961h4.727c.572 0 1.06-.411 1.158-.975a12.244 12.244 0 0 1 2.086-5.024 1.178 1.178 0 0 0-.13-1.509l-3.34-3.34a1.174 1.174 0 0 0-1.758.112 19.375 19.375 0 0 0-3.909 9.411 1.177 1.177 0 0 0 1.166 1.325' fill='%234CA8C8'/%3E%3Cpath d='M13.19 30.632a12.51 12.51 0 0 1-5.537-8.345 1.174 1.174 0 0 0-1.157-.974H1.769a1.174 1.174 0 0 0-1.166 1.325c.766 5.954 4.324 11.318 9.52 14.35a1.175 1.175 0 0 0 1.674-.558l1.84-4.352a1.177 1.177 0 0 0-.447-1.446' fill='%236E8DC9'/%3E%3Cpath d='M34.554 33.074l-1.766-1.768a1.173 1.173 0 0 1-.344-.83v-9.55a1.09 1.09 0 0 0-.041.227 12.363 12.363 0 0 1-2.31 6.243v3.08c0 .942.368 1.828 1.035 2.494l1.759 1.761c.587-.52 1.146-1.07 1.667-1.657' fill='%236F5798'/%3E%3Cpath d='M33.152 30.663a1.172 1.172 0 0 1-.344-.83V20.29a1.071 1.071 0 0 0-.04.226c-.521 6.43-5.986 11.465-12.44 11.465-.951 0-1.895-.107-2.807-.318a1.177 1.177 0 0 0-1.348.688l-1.837 4.352a1.177 1.177 0 0 0 .766 1.59c1.69.469 3.447.708 5.226.708 5.777 0 11.005-2.534 14.588-6.572l-1.764-1.766z' fill='%239474CB'/%3E%3Cpath d='M2.15 18.326h4.724c.572 0 1.06-.412 1.158-.975a12.222 12.222 0 0 1 2.085-5.022 1.177 1.177 0 0 0-.13-1.508L6.649 7.484a1.176 1.176 0 0 0-1.758.111 19.352 19.352 0 0 0-3.906 9.407 1.174 1.174 0 0 0 1.165 1.324' fill='%234CA8C8'/%3E%3Cpath d='M13.565 29.99a12.497 12.497 0 0 1-5.533-8.341 1.174 1.174 0 0 0-1.157-.974H2.15A1.177 1.177 0 0 0 .986 22c.765 5.95 4.322 11.312 9.513 14.341a1.175 1.175 0 0 0 1.674-.557l1.838-4.35a1.177 1.177 0 0 0-.446-1.445' fill='%236E8DC9'/%3E%3Cpath d='M34.917 32.43l-1.765-1.766a1.174 1.174 0 0 1-.344-.831v-9.544c-.022.073-.035.15-.042.226a12.351 12.351 0 0 1-2.308 6.24v3.078c0 .942.368 1.827 1.034 2.494l1.76 1.759a19.51 19.51 0 0 0 1.665-1.656' fill='%236F5798'/%3E%3Cpath d='M20.328 0c-4.359 0-8.476 1.406-11.906 4.063a1.18 1.18 0 0 0-.454.855c-.02.336.105.666.343.905l3.336 3.336c.405.406 1.043.46 1.509.13a12.356 12.356 0 0 1 7.172-2.268 12.4 12.4 0 0 1 8.821 3.66 12.392 12.392 0 0 1 3.66 8.82V29.832c0 .311.123.61.343.83l1.765 1.767 2.905 2.905a1.177 1.177 0 0 0 1.282.255c.438-.182.725-.61.725-1.086V19.5C39.829 8.748 31.08 0 20.328 0' fill='%232FC3C7'/%3E%3Cpath d='M62.876 23.777v-7.008c0-2.357-1.718-3.94-5.131-3.932-3.242 0-5.342 1.65-5.49 4.19l2.168-.003c.231-1.846 1.972-2.272 3.298-2.272 2.15 0 3.108.762 3.108 1.779 0 1.008-1.007 1.572-4.117 1.726-3.27.176-5.175 1.352-5.175 3.972 0 2.735 2.345 3.914 4.955 3.914 1.972 0 3.451-.639 4.365-1.752.024.595.153 1.088.315 1.454h2.074c-.197-.493-.37-1.427-.37-2.068zm-2.047-2.808c-.05 2.287-2.097 3.225-4.257 3.225-1.627.01-2.957-.586-2.957-1.965 0-1.061.612-2.02 3.37-2.194 1.493-.107 3.001-.279 3.844-1.02v1.954zM75.328 25.841h-2.074V18.13c0-1.947-1.082-3.381-3.097-3.381-1.927 0-3.327 1.434-3.327 3.328v7.767h-2.096v-12.69h2.014v1.371c.862-1.054 2.17-1.697 3.701-1.7 3.107 0 4.879 2.226 4.879 5.376v7.64zM87.616 25.841h-2.07v-7.718c0-1.944-1.081-3.378-3.11-3.374-1.914 0-3.327 1.434-3.327 3.328v7.764h-2.092V13.15h2.02v1.371c.865-1.054 2.168-1.696 3.697-1.696 3.11 0 4.882 2.218 4.882 5.372v7.644zM100.241 23.764v-7.001c0-2.366-1.727-3.938-5.13-3.938-3.25 0-5.346 1.65-5.491 4.188h2.168c.221-1.846 1.964-2.268 3.304-2.268 2.139 0 3.102.762 3.102 1.767 0 1.013-1.015 1.584-4.106 1.737-3.286.176-5.18 1.354-5.18 3.964 0 2.743 2.34 3.92 4.949 3.92 1.968 0 3.447-.643 4.356-1.752.029.59.155 1.09.33 1.46l2.069-.004c-.202-.497-.37-1.43-.37-2.073zm-2.047-2.805c-.053 2.29-2.096 3.228-4.26 3.228-1.631 0-2.957-.587-2.957-1.974 0-1.057.606-2.018 3.378-2.19 1.503-.1 3.002-.279 3.839-1.02v1.956zM104.231 25.837h-2.1l.009-18.335h2.091zM112.318 24.23c-2.09 0-4.116-1.542-4.381-4.187l10.657-.008c.035-4.505-3.118-7.218-6.4-7.218-3.522.004-6.379 3.008-6.379 6.683 0 3.724 2.857 6.633 6.503 6.633 2.937-.011 5.089-1.536 5.974-4.244h-2.203c-.695 1.482-1.98 2.342-3.77 2.342m-.126-9.52c1.852 0 3.573 1.383 4.09 3.455l-8.227.005c.54-2.17 2.392-3.456 4.137-3.46M125.972 26.122c-3.5 0-6.358-2.953-6.358-6.621 0-3.677 2.858-6.684 6.358-6.684 2.83-.007 5.05 1.67 5.91 4.233l-2.234.008c-.716-1.394-2.025-2.324-3.676-2.324-2.346 0-4.268 2.144-4.268 4.767 0 2.613 1.922 4.703 4.268 4.703 1.678 0 2.978-.936 3.676-2.315h2.234c-.835 2.555-3.08 4.23-5.91 4.233M138.697 25.827c-2.955.34-5.002-1.41-5.002-4.638v-6.063h-1.727v-1.991h1.727v-2.716h2.07v2.716h2.884v1.99h-2.884v6.064c0 2.241 1.386 2.817 2.932 2.717v1.921z' fill='%23999'/%3E%3C/g%3E%3C/svg%3E");;
    background-repeat: no-repeat;
    background-position: 30px 10px;
}

.messageBlock header, .messageBlock .textarea {
    background: white;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    clear: both;
    box-shadow: 0 1px 2px 0 rgba(32,32,32,0.50);
}
/* message header a.k.a. input */
.messageBlock header {
    float: right;
}
/* message textarea a.k.a. output */
.messageBlock .textarea {
    float: left;
    max-width: 80%;
}

.messageBlock:first-child {
    margin-top: 100vh;
}
.messageBlock:last-child textarea {
    margin-bottom: 100px;
}

.messageBlock[headless="true"] header {
  display: none;  
}