message-block > b-body {
    display: block;
    float: left;
    clear: both;
    margin: 5px;    
}

message-block > b-head {
    display: block;
    float: right;
    clear: both;
    margin: 5px;
}

message-block[bashdata], message-block[evaldata], message-block[goodeval] {
    white-space: pre;
    font-family: monospace;
}


/* if input attribute begins with a colon, it was a debugging command, and result should be preformattaed monospace */
message-block[input^=":"] b-body {
    white-space: pre;
    font-family: monospace;
}

message-block[headless="true"] b-head {
    display: none;
}

message-block img {
    width: 100%;
}
