message-block,
message-block > b-body,
message-block > b-head {
    display: block;
    margin: 5px;    
}

/* a few conditions where output should be pre-formatted monospace */
message-block[bashdata] b-body, 
message-block[evaldata] b-body, 
message-block[goodeval] b-body,
message-block[input^=":"] b-body {
    white-space: pre;
    font-family: monospace;
}

message-block[headless="true"] b-head {
    display: none;
}