message-block > b-body {
    display: block;
    float: left;
    clear: both;
    margin: 5px;    
}

message-block > b-head {
    display: block;
    float: right;
    clear: both;
    margin: 5px;
}

message-block[bashdata] {
    white-space: pre;
    font-family: monospace;
}

message-block[headless="true"] b-head {
    display: none;
}

message-block img {
    width: 100%;
}
