body > * {
  position: fixed;
  display: block;
  overflow: auto;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: initial;
}

*[x-draggable="true"] {
  border: 2px solid black;  
  background: white;
  width: 700px;
  height: 500px;
}

*:not([x-draggable="true"]){

}
